<h1>Welcome to Rent a Puppy!</h1>
<h2>Our pets</h2>
<br>
{{#each pet}}
<h1 class="mt-2">{{name}}</h1>
<img id='imagePreview' style="height: 350px; width: 350px; object-fit: contain;" data-petId="{{id}}">
<ul>
    <li>Rating: {{rating}} Stars</li>
    <li>Age: {{age}}</li>
    <li>Breed: {{breed}}</li>
    <li>Personality: {{personality_trait}}</li>

</ul>
{{/each}}

<script>

    async function renderImages(data) {

        /*GRAB ALL images, set the src on each on*/
        const elements = document.querySelectorAll('#imagePreview');
        
        elements.forEach(el => {
            const petId = el.getAttribute('data-petid');
            console.log(data[petId - 1].picture)
            if(data[petId - 1].picture === ''){
                let rn = Math.floor(Math.random()*6);
                if(rn === 0){
                    rn = undefined
                }
                const url = `assets/images/default${rn}.jpg`
                return el.src = url
            }else{
                return el.src = data[petId - 1].picture;
            }
            
        })
    }
    /*Grab the array buffer from response*/
    async function getPetImages() {
        const response = fetch(`/api/pets`, {
            method: 'get',
            headers: { 'Content-Type': 'application/json' }
        }).then(res => {
            return res.json();
        }).catch(e => {
            console.log(e)
        });
        const imgData = await response;

        const images = imgData.map(el => {
            let dURL;
            const src = el.profile_picture;
            if (src === null) {
                dURL = '';
            } else {
                let typedArray = new Uint8Array(src.data);
                /*Convert array to Blob*/
                let blob = new Blob([typedArray], { type: 'image/jpeg' });
                /*create html img element*/
                dURL = URL.createObjectURL(blob);
            }
            return {
                id: el.id,
                picture: dURL
            }
        });
        renderImages(images);
    }

    getPetImages();





</script>