<h1>Welcome to Rent a Puppy!</h1>
<br>
{{#if loggedIn}}
<h3 class="mt-1 mb-2">Welcome Back, {{user}}!</h3>
{{/if}}


Our Pets
{{#each pet}}
<h1 class="mt-2">{{name}}</h1>
<img id='imagePreview' style="height: 350px; width: 350px; object-fit: contain;" data-petId="{{id}}">
<ul>
    <li>Rating: {{return_rating rating}} Stars</li>
    <li>Age: {{age}}</li>
    <li>Breed: {{breed}}</li>
    <li>Personality: {{personality_trait}}</li>

</ul>
{{/each}}

<script src="assets/javascript/utils/renderImages.js"></script>