<h1> {{pet.name}}'s Review  </h1>
<span>Overall Rating: {{return_rating pet.rating}}</span>

<img id='imagePreview' style="height: 350px; width: 350px; object-fit: contain;" data-petId="{{pet.id}}">
{{#each review}}
<ul>
    <li>Review Rating: {{stars}} Stars</li>
    <li>Review: <br>{{review}}</li>
</ul>
<br>
{{/each}}

















<script src="/assets/javascript/utils/renImg.js"></script>