<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<div class="bg-gray-100 dark:bg-gray-800 rounded-2xl relative h-screen overflow-auto relative dashBack w-full pr-8">
  <div class="flex items-start justify-start  w-full">
    <div id='navContainer' class="h-screen  lg:block my-4 ml-4 shadow-lg relative w-80">
      <div class="bg-white h-full rounded-2xl dark:bg-gray-700">
        <div class="flex items-center justify-center pt-6">
          <img class='logo-img' src="/assets/images/track.png">
        </div>
        <nav class="mt-6">
          <div>
            {{!-- NAV PARTIAL GOES HERE --}}
            {{>components/nav }}
            {{!-- LOG OUT --}}

            <a class="w-full font-thin uppercase text-gray-500 dark:text-gray-200 flex items-center p-4 my-2 transition-colors duration-200 justify-start hover:text-purple-900"
              href="/logout">
              <span class="text-left">
                {{>svg/logout }}
              </span>

              <span class="mx-4 text-sm font-normal">
                Logout
              </span>
            </a>
          </div>
        </nav>
      </div>
    </div>


    {{!-- PAGE CONTAINER --}}
    <div class="overflow-auto h-screen w-full flex-wrap justify-center">
      {{!-- DIV THAT CONTROLS THE COLUMN LAYOUT --}}
      <div class="flex flex-col flex-wrap sm:flex-row ml-2 mt-4 w-full">

        {{!-- DYNAMIC CONTAINER 1, HOLDS PET CARDS--}}
        <div class="w-full sm:w-full md:w-1/2">

          {{!-- START INNER CONTAINER WRAPPER --}}
          <div class="mb-4 ml-4 ">

            {{!-- ACTUAL START OF THE CARD, --}}
            <div class="shadow-lg rounded-lg p-4 bg-purple-100 dark:bg-gray-700 w-full">

              {{!-- SWIPER NO SWIPING --}}
              <div class="swiper-container  rounded-lg">
                <h1 class="w-full font-bold text-purple-800">Our Pets</h1>

                <!-- Additional required wrapper for swiper-->
                <div class="swiper-wrapper h-60 rounded-b-lg ">


                  {{!-- EACH PET LOOP HERE --}}
                  {{#each pet}}
                  <!-- Swiper Slides -->
                  <div class="swiper-slide rounded-b-lg">

                    {{!-- REQUIRED ANCHOR TAG TO LINK PET TO THEIR PAGE --}}
                    <a class='border-purple-300 rounded-md' href="/pet/{{id}}">
                      {{!-- PET CARD PARTIAL GOES HERE --}}
                      {{!-- / syntax indicates that the partial
                      is inside a folder named components --}}
                      {{>components/petcard }}
                    </a>
                    {{!-- END ANCHOR --}}

                  </div>
                  {{!-- END SLIDE --}}

                  {{/each}}
                  {{!-- END LOOP --}}

                </div>
                {{!-- END REQ WRAPPER FOR SWIPER --}}

              </div>
              {{!-- END SWIPER NO SWIPING --}}

            </div>
            {{!-- END CARD --}}

          </div>
          {{!-- END INNER CONTAINER WRAPPER --}}

          {{!-- ADDITIONAL COMPONENTS CAN BE PLACED HERE TO GO INSIDE COLUMN ONE
          REUSE ABOVE WRAPPER AND REPLACE CONTENTS OF THE CARD --}}
          {{!-- START ANY ADDITIONAL CONTENT --}}


        </div>
        {{!-- END DYNAMIC CONTAINER 1 --}}


        {{!-- DYNAMIC CONTAINER 2 --}}
        <div class="w-full md:w-1/2 lg:w-1/3">

          {{!-- INNER WRAPPER --}}
          <div class="mb-4 mx-0 ml-4 ">

            {{!-- START OF THE CARD --}}
            <div class="shadow-lg rounded-2xl bg-white dark:bg-gray-700 w-full">
              <p class="font-bold text-md p-4 text-black dark:text-white underline">
                My bookings
                <span class="text-sm text-gray-500 dark:text-gray-300 dark:text-white ml-2">
                  {{!-- HELPER FUNCTION- return_rating returns 0 if data is null, null data shows up blank, 0 is null
                  the .length after the bookings is a built in handlebar function similar to the array.length method
                  return the length of the array--}}
                  {{return_rating bookings.length}}
                </span>
              </p>
              <ul>
                {{!-- START LOOP --}}
                {{#each bookings}}
                {{!-- BOOKING PARTIAL --}}
                {{> components/mybookinglist}}
                {{!-- BOOKING PARTIAL --}}
                {{/each}}
                {{!-- END LOOP --}}
              </ul>
            </div>
            {{!-- END CARD --}}
          </div>
          {{!-- END INNER WRAPPER --}}

          {{!-- ADDITIONAL CONTENT GOES HERE, SAME PRINCIPLE AS ABOVE APPLIES COPY INNER WRAPPER
          PLACE DESIRED CONTENT INSIDE THE CARD --}}
        </div>
        {{!-- END DYNAMIC CONTENT 2 --}}


        {{!-- DYNAMIC CONTENT 3 --}}
        <div class="w-full lg:w-10/12 ml-4">
          {{!-- START INNER WRAPPER --}}
          <div class="mb-4 ">
            {{!-- START CARD --}}
            <div class="shadow-lg rounded-2xl p-4 bg-white dark:bg-gray-700 w-full">
              <p class="font-bold text-md text-black dark:text-white underline">
                Messages
              </p>
              {{!-- MESSAGE CHAT CONTAINER --}}

              {{#each bookings}}

              <div class="mt-3">
                <p class="flex">
                  <a id="collapse-handler" data-collapse-target="{{add_one @index}}"
                    class="w-full h-15  collapse-handler ">
                    <div class="flex justify-start mb-4">
                      <img src="https://source.unsplash.com/vpOeXr5wmR4/600x600"
                        class="object-cover h-8 w-8 rounded-full" alt="" />
                      <span class="lg:ml-6 ml-2 flex items-center text-gray-400 dark:text-gray-300">

                        <span
                          class="mx-4 px-2 py-1 flex w-18  items-start text-xs text-center rounded-md font-semibold text-blue-600 bg-blue-100">
                          {{{comments.length}}}
                        </span>
                      </span>

                      {{!-- <svg width="15" height="15" fill="currentColor" class="ml-1" viewBox="0 0 512 512">
                        <path
                          d="M256 32C114.6 32 0 125.1 0 240c0 47.6 19.9 91.2 52.9 126.3C38 405.7 7 439.1 6.5 439.5c-6.6 7-8.4 17.2-4.6 26S14.4 480 24 480c61.5 0 110-25.7 139.1-46.3C192 442.8 223.2 448 256 448c141.4 0 256-93.1 256-208S397.4 32 256 32zm0 368c-26.7 0-53.1-4.1-78.4-12.1l-22.7-7.2l-19.5 13.8c-14.3 10.1-33.9 21.4-57.5 29c7.3-12.1 14.4-25.7 19.9-40.2l10.6-28.1l-20.6-21.8C69.7 314.1 48 282.2 48 240c0-88.2 93.3-160 208-160s208 71.8 208 160s-93.3 160-208 160z"
                          fill="currentColor">
                        </path>
                      </svg> --}}
                      </span>
                      {{!-- <div
                        class="ml-2 py-3 px-4 bg-yellow-200 rounded-br-3xl rounded-tr-3xl rounded-tl-xl text-gray-500 shadow-inner">

                      </div> --}}
                    </div>
                  </a>
                </p>

                {{!-- ACCORDION DIV --}}
                <div id="collapse-target-{{add_one @index}}" class="border px-4 py-3 my-2 text-gray-700 rounded-lg"
                  style="visibility: hidden; display: none;">
               
                  {{!-- CHAT BOX --}}

                  <div class="w-full  px-5 flex flex-col justify-between">
                    {{!-- inner wrapper --}}
                    <div class="flex flex-col mt-5 ">
                      <div id='msgEl-{{id}}' {{#if ../this.user.id}}data-indent="user" {{/if}}
                        class=" max-h-96 overflow-auto">

                        {{#each comments}}


                        {{!-- DIV FOR USER --}}
                        {{#if user_id}}
                        <div class=" mr-2 flex justify-end mb-1">
                          <div
                            class="mr-2 py-3 px-4 bg-indigo-400 rounded-bl-3xl rounded-tl-3xl rounded-tr-xl text-white shadow-inner">

                            {{comment_body}}
                          </div>


                          <img src="/assets/images/profile-icons/dog1.png"
                            class="object-cover h-8 w-8 rounded-full mt-4" alt="" />
                        </div>
                        <div class="mr-4 flex flex-row justify-end flex-wrap">
                          <span id='sent'
                            class="w-15 px-5 py-1 h-8 flex flex-wrap justify-end text-sm text-end font-medium   text-gray-400 rounded-full">Sent
                            {{format_msg_time
                            createdAt}}
                          </span>
                        </div>


                        {{/if}}
                        {{!-- END USER --}}

                        {{#if owner_id}}
                        {{!-- DIV FOR OWNER --}}
                        <div class="flex justify-start mb-1">

                          <img src="/assets/images/profile-icons/dog1.png"
                            class="object-cover h-8 w-8 rounded-full mt-4" alt="" />
                          <div
                            class="ml-2 py-3 px-4 bg-yellow-200 rounded-br-3xl rounded-tr-3xl rounded-tl-xl text-gray-500 shadow-inner">
                            {{comment_body}}
                          </div>
                        </div>
                        <div class="mr-l flex flex-row justify-start flex-wrap">
                          <span id='sent'
                            class="w-15 px-5 py-1 h-8 flex flex-wrap justify-start text-sm text-start font-medium   text-gray-400 rounded-full">Received
                            {{format_msg_time
                            createdAt}}
                          </span>
                        </div>
                        {{/if}}
                        {{!-- END OWNER DIV --}}

                        {{/each}}

                      </div>
                      {{!-- --}}

            
                      {{!-- TEXT AREA --}}
                      <div class="py-5">
                        <input id='textArea' class="w-full bg-gray-300 py-5 px-3 rounded-xl" type="textarea"
                          data-bookingID='{{id}}' placeholder="type your message here..." />
                        <button id='sendMessage' type="button" data-bookingID='{{id}}'
                          class="border border-green-500 bg-green-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-green-600 focus:outline-none focus:shadow-outline">
                          SEND
                        </button>
                      </div>

                      {{!-- END TEXT AREA --}}
             

                    </div>


                    {{!-- end wrapper --}}
                  </div>

                  {{!-- END CHAT BOX --}}

                </div>
                {{!-- END ACCORDION --}}

                {{!-- LIST --}}
                {{render_messages bookings}}
                <ul>
                  {{#each ownerMessages}}
                  <a href="/booking/pet/"></a>
                  <li class="flex items-center my-6 space-x-2">
                    <a href="#" class="block relative">
                      <img alt="profil" src="/assets/images/user.png"
                        class="mx-auto object-cover rounded-full h-10 w-10 " />
                    </a>
                    <div class="flex flex-col">
                      <span class="text-sm text-gray-900 font-semibold dark:text-white ml-2">
                        {{ownername}}
                      </span>
                      <span class="text-sm text-gray-400 dark:text-gray-300 ml-2">
                        <ul>
                          {{#each comments}}
                          <li class="text-sm text-gray-400 dark:text-gray-300 ml-2"> {{comment_body}}</li>
                          {{/each}}
                        </ul>
                        <br>
                      </span>

                    </div>
                    {{/each}}
                    {{!--STOPS HERE --}}

                  </li>

                  {{/each}}

                  {{!-- END LOOP --}}

                  {{!-- IF NO MESSAGES --}}

                  {{!-- END NO MESSAGES --}}
                  {{!-- ADDITIONAL CONTENT CAN BE PLACED HERE IF WANTING TO BE INSIDE THE COLLAPSE --}}
                  {{!-- END UN-ORDERED LIST --}}
                </ul>

              </div>
              {{!-- END MESSAGE CHAT COMPONENT --}}

            </div>
            {{!-- END MESSAGES CARD --}}

          </div>
          {{!-- END INNER WRAPPER --}}

        </div>
        {{!-- END DIV FOR DYNAMIC CONTENT 3 --}}

      </div>
      {{!-- END COL LAYOUT CONTAINER --}}

    </div>
    {{!-- END PAGE CONTAINER --}}

  </div>
  {{!-- IF USER DASH NEED JS SCRIPTS FOR SWIPER --}}

  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <script type='text/javascript' src="/assets/javascript/utils/renderImages.js"></script>
  <script type='text/javascript' src="/assets/javascript/utils/message-elements.js"></script>
  <script type='text/javascript' src="/assets/javascript/utils/event-handlers/message-toggle.js"></script>
  <script type='text/javascript' src="/assets/javascript/utils/event-handlers/message-send.js"></script>

  <script>

    const swiper = new Swiper('.swiper-container', {
      autoplay: {
        delay: 5000,
      },

    });



  </script>