<h1> Pet Dashboard </h1>

<h1 class="mt-2">{{pet.name}}</h1>
<img id='imagePreview' style="height: 350px; width: 350px; object-fit: contain;" data-petId="{{pet.id}}">
<ul>
    <li>Rating: {{return_rating pet.rating}} Stars</li>
    <li>Age: {{pet.age}}</li>
    <li>Breed: {{pet.breed}}</li>
    <li>Personality: {{pet.personality_trait}}</li>

</ul>


















<script src="/assets/javascript/utils/renImg.js"></script>