
<div class="bg-white">
  <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
    <div class="space-y-12 lg:grid lg:grid-cols-3 lg:gap-8 lg:space-y-0">
      <div class="space-y-5 sm:space-y-4">
        <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">Pet Profile</h2>
        <h1 class="text-indigo-600 sm:text-4xl">{{pet.name}}</h1>
        <button type="button" class="inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-full shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Book Now!
        </button>
      </div>

      <div class="lg:col-span-2">
        <ul class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:gap-x-8">
          <li>
            <div class="space-y-4">
              <div class="aspect-w-3 aspect-h-2">
                  <img id='imagePreview' style="height: 350px; width: 350px; object-fit: contain;" data-petId="{{pet.id}}">
              </div>
              <div class="text-lg leading-6 font-medium space-y-1">
              </div>
              <div class="text-lg">
                  <ul>
                     <li >Rating: {{return_rating pet.rating}} Stars</li>
                     <li>Age: {{pet.age}}</li>
                     <li>Breed: {{pet.breed}}</li>
                     <li>Personality: {{pet.personality_trait}}</li>
                </ul>
              </div>
            </div>
          </li>
<script src="/assets/javascript/utils/renImg.js"></script>
