
<div class="container mx-auto px-4 sm:px-6 lg:px-8">
  <!-- Content goes here -->
<div class="bg-indigo-300">
  <div class="mx-auto py-12 px-4 max-w-1xl sm:px-6 lg:px-8 lg:py-24">
    <div class="space-y-12 lg:grid lg:grid-cols-3 lg:gap-8 lg:space-y-0">
      <div class="space-y-5 sm:space-y-4">
        <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">Pet Profile</h2>
        <h1 class="text-indigo-600 sm:text-4xl">{{pet.name}}</h1>
        <button type="button" class="inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-full shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Book Now!
        </button>
      </div>

      <div class="lg:col-span-3">
        <ul class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:gap-x-8">
          <li>
            <div class="space-y-4">
              <div class="aspect-w-3 aspect-h-2">
                  <img id='imagePreview' class="mx-auto object-cover rounded-full h-100 w-100 " data-petId="{{pet.id}}">
              </div>
              <div class="text-lg leading-6 font-medium space-y-1">
              </div>
            </div>
          </li>
<script src="/assets/javascript/utils/renImg.js"></script>


<div class="bg-white max-w-2xl shadow overflow-hidden sm:rounded-lg">
    <div class="border-t border-gray-200">
        <dl>
            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Full name:
                </dt>
                <dd class="mt-1 text-md text-gray-900 sm:mt-0 sm:col-span-2">
                    <h1 class="text-indigo-600 sm:text-4xl">{{pet.name}}</h1>
                </dd>
            </div>
            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-md font-medium text-gray-900">
                    Good Puppy Rating:🐾
                </dt>
                <dd class="mt-1 text-lg text-indigo-600 sm:mt-0 sm:col-span-2">
                    <li> {{return_rating pet.rating}} Paws</li>
                </dd>
            </div>
            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-md font-medium text-gray-900">
                    Age:
                </dt>
                <dd class="mt-1 text-lg text-indigo-600 sm:mt-0 sm:col-span-2">
                    <li> {{pet.age}}</li>
                </dd>
            </div>
            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-md font-medium text-gray-900">
                    Breed:
                </dt>
                <dd class="mt-1 text-lg text-indigo-600 sm:mt-0 sm:col-span-2">
                    <li>{{pet.breed}}</li>
                </dd>
            </div>
            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-md font-medium text-gray-900">
                    Personality
                </dt>
                <dd class="mt-1 text-lg text-indigo-600 sm:mt-0 sm:col-span-2">
                <li> {{pet.personality_trait}}</li>                
                </dd>
            </div>
             <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-md font-medium text-gray-900">
                    Bio:
                </dt>
                <dd class="mt-1 text-lg text-indigo-600 sm:mt-0 sm:col-span-2">
                <li> {{pet.bio}}</li>               
                </dd>
            </div>
        </dl>
    </div>
</div>
</div>