<h1> {{pet.name}}'s Review  </h1>
<span>Overall Rating: {{return_rating pet.rating}}</span>

<h1 class="mt-2">{{pet.name}}</h1>
<img id='imagePreview' style="height: 350px; width: 350px; object-fit: contain;" data-petId="{{pet.id}}">
<ul>
    <li>Review Rating: {{review.stars}} Stars</li>
    <li>Review: <br>{{review.review}}</li>
</ul>


















<script src="/assets/javascript/utils/renImg.js"></script>