<a id="bookingIDs" data-ID='{{id}}' href="/booking/pet/{{id}}">
    <li
        class="flex items-center text-gray-600 dark:text-gray-200 justify-between py-3 border-b-2 border-gray-100 dark:border-gray-800">
        <div class="flex items-center justify-start text-sm">
           
            <span
                class="mx-4 px-2 py-1 flex w-18  items-start text-xs text-center  rounded-md font-semibold text-blue-600 bg-gray-50">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                </svg>
            </span>
            <span
                class="px-2 py-1 flex w-18  items-start text-sm text-center rounded-md font-semibold underline text-blue-600 bg--100">
                {{render_date date}}
            </span>
          
            <span
                class="mx-4 px-2 py-1 flex w-18  items-start text-sm text-center rounded-md font-semibold text-green-600 bg-green-100">
                {{{pet_name}}}
            </span>

        </div>
        <div
            class="flex items-center justify-center text-sm mr-3 px-2 py-1 flex w-18 text-xs rounded-md font-semibold text-{{render_status_color status}}-800 bg-{{render_status_color status}}-100">
            {{status}}
            <span class="mr-2">

            </span>
        </div>
    </li>
</a>