<a id="bookingIDs"  data-ID='{{id}}' href="/booking/pet/{{id}}">
    <li
        class="flex items-center text-gray-600 dark:text-gray-200 justify-between py-3 border-b-2 border-gray-100 dark:border-gray-800">
        <div class="flex items-center justify-start text-sm">
            <span class="mx-4">
                {{add_one @index}}
            </span>
            <span
                class="px-2 py-1 flex w-18  items-start text-xs text-center rounded-md font-semibold text--600 bg--100">
                {{date}}
            </span>
            <span
                class="mx-4 px-2 py-1 flex w-18  items-start text-xs text-center rounded-md font-semibold text-blue-600 bg-blue-100">
                {{{pet_name}}}
            </span>
        </div>
        <div
            class="flex items-center justify-center text-sm mr-3 px-2 py-1 flex w-18 text-xs rounded-md font-semibold text-{{render_status_color status}}-800 bg-{{render_status_color status}}-100">
            {{status}}
            <span class="mr-2">

            </span>
        </div>
    </li>
</a>