{{!-- CARD DOES NOT INCLUDE THE <a href="/pet/{{id}}"> </a> Anchor it needs to be wrapped in due to the slider on the dashboards,
the anchor has to be placed outside the partial --}}
{{!-- PET CARD --}}
<div class="w-full bg-white rounded-lg overflow-hidden h-96 shadow-lg">
    
    <img id='imagePreview' data-petId="{{id}}" {{#if petDash}}{{/if}}class="w-full  h-44 object-fit: contain"
        alt="{{name}}'s profile picture">
    <div class=" w-full px-6 py-4">
        <div class=" flex flex-wrap justify-between w-full font-bold text-xl  mb-2"><span class="ml-1 mb-2">{{name}}</span> <span
            class="inline-block max-w-max shadow-inner bg-yellow-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 flex flex-wrap"><div class="flex flex-row justify-between">{{{render_paws rating}}}</div>
            </span></div>
        <p class="pet-text overflow-hidden h-12 w-full text-gray-700 text-base">
            {{bio}}
        </p>
    </div>
    <div class=" flex flex-wrap flex-row justify-end w-full px-6 py-4">
        
        <span
            class="inline-block h-8 bg-purple-200 rounded-full shadow-inner px-3 py-1 text-md font-semibold text-gray-700 mr-2 ">{{personality_trait}}</span>
        <span class="inline-block h-8 bg-green-200 rounded-full shadow-inner px-3 py-1 text-md font-semibold text-gray-700 ">{{age}}
            years </span>
    </div>
</div>
{{!-- END PARTIAL --}}